<html layout:decorate="~{gabbarit}">

<head>
    <meta charset="ISO-8859-1">
</head>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Utilisateur : <span th:text="${utilisateur.id}"> </span></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="#" th:action="@{/utilisateurs/modification}" th:object="${utilisateur}" method="POST">
                                    <input type="hidden" th:field="*{id}" />
                                    <input type="hidden" th:field="*{username}" />
                                    <input type="hidden" th:field="*{password}" />
                                    <label class="mb-1 font-weight-bold">Roles :</label>
                                    <select class="form-control" id="roles" name="roles" multiple="multiple">
                                    <option th:each="role : ${roles}"th:selected="${role}"th:value="${role.id}" th:text="${role.name}">Rôle</option>
                                    </select>
                                    <label class="mb-1 mt-2 font-weight-bold">Adherent (CIN):</label>
                                     <select th:field="*{adherent}" class="form-control">
                                     <option th:each="adherent: ${adherents}" th:value="${adherent.idAdherent}" th:text="${adherent.cin}"></option>
                                     </select>
<input type="hidden" name="${_csrf.parameterName}"value="${_csrf.token}"/>
 
                                    <button type="submit" class="btn btn-info col-6 mt-2"> Modifier</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/utilisateurs/listes}"> Listes des utilisateurs</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>