<html layout:decorate="~{gabbarit}">

<head>
    <meta charset="ISO-8859-1">
</head>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">

                    <div class="card shadow mb-4 mt-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Listes des revues</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive text-center">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Année de publication</th>
                                            <th>Prix de vente</th>
                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="revue : ${listesRevues}">
                                            <td th:text="${revue.reference}"></td>
                                            <td th:text="${revue.anneePublication}"></td>
                                            <td th:text="${revue.prixDeVente}"></td>
                                            <td> <a th:href="@{/revues/modification/{idRevue}(idRevue=${revue.idRevue})}"
                                                    class="btn btn-primary">Modifier</a>
                                                <a th:href="@{/revues/suppression/{idRevue}(idRevue=${revue.idRevue})}"
                                                	onClick="if (!(confirm('Voulez vous vraiment supprimer cet adhérent ?'))) return false"
                                                    class="btn btn-danger">Supprimer</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/revues/insertion}"> Nouvelle revue</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>