<html layout:decorate="~{gabbarit}">

<head>
    <meta charset="ISO-8859-1">
</head>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Revue : <span th:text="${revue.idRevue}"> </span></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="#" th:action="@{/revues/modification}" th:object="${revue}" method="POST">
                                    <input type="hidden" th:field="*{idRevue}" />
                                    <div class="mb-3"> 
                                    <label class="mb-1 font-weight-bold">Référence :</label>
                                    <input type="text" th:field="*{reference}" class="form-control">
                                        <p class="alert alert-danger mt-2 mb-2" th:if="${#fields.hasErrors('reference')}"
                                            th:errors="*{reference}" />
                                    </div>
                                     <div class="mb-3"> 
                                     <label class="mb-1 font-weight-bold">Année de publication :</label>
                                     <input type="date" th:field="*{anneePublication}" class="form-control">
                                        <p class="alert alert-danger mt-2 mb-2" th:if="${#fields.hasErrors('anneePublication')}"
                                            th:errors="*{anneePublication}" />
                                    </div>
                                    <div class="mb-3"> 
                                    <label class="mb-1 font-weight-bold">Prix de vente (DHS) :</label>
                                    <input type="number" step=0.01 th:field="*{prixDeVente}" class="form-control">
                                        <p class="alert alert-danger mt-2 mb-2" th:if="${#fields.hasErrors('prixDeVente')}"
                                            th:errors="*{prixDeVente}" />
                                    </div> 
                                    <input type="hidden" name="${_csrf.parameterName}"value="${_csrf.token}"/>
                                    <button type="submit" class="btn btn-info col-6"> Modifier</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/revues/listes}"> Listes des revues</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>