<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Abderrahim RIDA">
    <meta name="author" content="Abderrahim RIDA">
    <title>Gestion de bibliothèque</title>

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
        rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Bibliothèque</div>
            </a>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <hr class="sidebar-divider my-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/accueil}">
                        <span>Accueil</span></a>
                </li>
                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseadh"
                        aria-expanded="true" aria-controls="collapseadh">
                        <span>Adhérents</span>
                    </a>
                    <div id=collapseadh class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Détails:</h6>
                            <a class="collapse-item" th:href="@{/adherents/listes}">Adhérents</a>
                            <a class="collapse-item" th:href=@{/utilisateurs/listes}>Utilisateurs</a>
                            <a class="collapse-item" th:href=@{/roles/listes}>Rôles</a>

                        </div>
                    </div>
                </li>

                <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedic"
                        aria-expanded="true" aria-controls="collapsedic">
                        <span>Dictionnaires</span>
                    </a>
                    <div id="collapsedic" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Détails:</h6>
                            <a class="collapse-item" th:href="@{/dictionnaires/listes}">Dictionnaires</a>
                            <a class="collapse-item" th:href="@{/langues/listes}">Langues</a>
                        </div>
                    </div>
                </li>
                <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseliv"
                        aria-expanded="true" aria-controls="collapseliv">
                        <span>Livres</span>
                    </a>
                    <div id="collapseliv" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Détails:</h6>
                            <a class="collapse-item" th:href="@{/livres/listes}">Livres</a>
                            <a class="collapse-item" th:href="@{/auteurs/listes}">Auteurs</a>
                        </div>
                    </div>
                </li>
                <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <span>Revue</span></a>
                </li>
                <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <span>Emprunts</span></a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <span>Emprunts</span></a>
                </li>
            </div>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            <div class="sidebar-card d-none d-lg-flex">
                <div sec:authorize="isAuthenticated()">
                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    </form>

                    <span></span><a onclick="document.forms['logoutForm'].submit()">Déconnexion</a>
                </div>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h1>Gestion de bibliothèque</h1>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <div>
                                Utilisateur : <span sec:authentication="name">User</span>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div layout:fragment="content">
                </div>
            </div>
        </div>
    </div>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Abderrahim RIDA 2022</span>
            </div>
        </div>
    </footer>


    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>

</html>