<html layout:decorate="~{gabbarit}">

<head>
    <meta charset="ISO-8859-1">
</head>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">

                    <div class="card shadow mb-4 mt-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Listes des auteurs</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive text-center">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Auteur</th>
                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="auteur : ${listesAuteurs}">
                                            <td th:text="${auteur.auteur}"></td>
                                            <td> <a th:href="@{/auteurs/modification/{idAuteur}(idAuteur=${auteur.idAuteur})}"
                                                    class="btn btn-primary">Modifier</a>
                                                <a th:href="@{/auteurs/suppression/{idAuteur}(idAuteur=${auteur.idAuteur})}"
                                                	onClick="if (!(confirm('Voulez vous vraiment supprimer cet adhérent ?'))) return false"
                                                    class="btn btn-danger">Supprimer</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/auteurs/insertion}"> Nouvel auteur</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>