<html layout:decorate="~{gabbarit}">

<head>
    <meta charset="ISO-8859-1">
</head>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Nouvelle langue</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="#" th:action="@{/langues/insertion}" th:object="${lAngue}"
                                    method="POST">
                                    <div class="mb-3"> 
                                     <label class="mb-1 font-weight-bold">Langue :</label>
                                    <input type="text" th:field="*{langue}" class="form-control">
                                        <p class="alert alert-danger mt-2 mb-2" th:if="${#fields.hasErrors('langue')}"
                                            th:errors="*{langue}" />
                                    </div>
                                    <input type="hidden" name="${_csrf.parameterName}"value="${_csrf.token}"/>
                                    <button type="submit" class="btn btn-info col-6"> Insérer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/langues/listes}"> Listes des langues</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>