<html layout:decorate="~{gabbarit}">

<head>
    <meta charset="ISO-8859-1">
</head>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">

                    <div class="card shadow mb-4 mt-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Listes des dictionnaires</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive text-center">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Identificateur</th>
                                            <th>Langue</th>
                                            <th>Prix de vente (DHS)</th>
                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="dictionnaire : ${listesDictionnaires}">
                                            <td th:text="${dictionnaire.identificateurDictionnaire}"></td>
                                            <td th:text="${dictionnaire.langue.langue}"></td>
                                            <td th:text="${dictionnaire.prixDeVente}"></td> 
                                            <td> <a th:href="@{/dictionnaires/modification/{idDictionnaire}(idDictionnaire=${dictionnaire.idDictionnaire})}"
                                                    class="btn btn-primary">Modifier</a>
                                                <a th:href="@{/dictionnaires/suppression/{idDictionnaire}(idDictionnaire=${dictionnaire.idDictionnaire})}"
                                                	onClick="if (!(confirm('Voulez vous vraiment supprimer cet utilisateur ?'))) return false"
                                                    class="btn btn-danger">Supprimer</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    
                      <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/dictionnaires/insertion}"> Nouveau dictionnaire</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>